.Wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 70vh;
  align-items: center;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .underLine {
    border-top: 5px solid red;
    width: 50%;
    margin-left: auto;
  }
}

.header {
  margin-bottom: 0;
}

.intro {
  font-weight: 500;
}
