@import "../util.scss";

.Wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  flex-direction: column;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .underLine {
    border-top: 5px solid red;
    width: 50%;
    margin-left: auto;
  }
}

.header {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 3rem;
}
.intro {
  font-weight: 500;
  font-style: italic;
  line-height: 2rem;
  font-size: larger;
  margin-top: 8%;
}

@include notDeskTop {
  .Wrap {
    flex-direction: column;
    height: 100%;

    .leftContainer {
      margin-bottom: 6vh;
    }

    .intro {
      text-align: center;
    }
  }
}
