.headerBox {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  .header {
    margin-bottom: 0;
  }

  .underLine {
    border-top: 5px solid red;
    width: 50%;
    margin-left: auto;
  }
}
