@keyframes showUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.Wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: showUp 1s;
}

.text {
  font-style: normal;
  font-weight: 100;
  font-size: 3rem;
}

.underLine {
  border-top: 5px solid red;
  width: 80%;
  margin-left: auto;
}
