@import "/src/styles/util.scss";

.Wrap {
  width: 90%;
  margin-bottom: 3%;
}

.headerBox {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  .header {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 3rem;
  }

  .underLine {
    border-top: 5px solid red;
    width: 50%;
    margin-left: auto;
  }
}

.study {
  display: flex;
  flex-direction: column;
}

.text {
  font-weight: bold;
  margin-left: 5%;
  font-size: larger;
}

.point {
  cursor: pointer;
  color: rgb(53, 53, 252);
  text-decoration: underline;
  &:hover {
    filter: brightness(190%);
  }
}

.videoContainer {
  display: flex;
  width: 100%;
  @include notDeskTop {
    flex-direction: column;
  }
  * {
    margin: 0 1%;
  }
}

.dotLine {
  height: 50px;
  width: 100%;
  margin-top: 50px;
  border-top: 5px dashed lightgray;
}
